@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.anm {
  animation: spin 4s linear infinite;
}

@keyframes stretch {
  0%,
  100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 0.7);
  }
}

.anmstretching {
  animation: stretch 2s infinite ease-in-out;
}

.shake {
  animation: shake 1.8s infinite ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  10% {
    transform: translateX(-5px) rotate(-5deg);
  }
  20% {
    transform: translateX(5px) rotate(5deg);
  }
  30% {
    transform: translateX(-5px) rotate(-5deg);
  }
  40% {
    transform: translateX(5px) rotate(5deg);
  }
  50% {
    transform: translateX(-5px) rotate(-5deg);
  }
  60% {
    transform: translateX(5px) rotate(5deg);
  }
  70% {
    transform: translateX(-5px) rotate(-5deg);
  }
  80% {
    transform: translateX(5px) rotate(5deg);
  }
  90% {
    transform: translateX(-5px) rotate(-5deg);
  }
  100% {
    transform: translateX(0) rotate(0deg);
  }
}

.nextst {
  animation: nextst 2s infinite ease-in-out;
}

@keyframes nextst {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}